p, h1, h2, h3, h4, h5, h6{
    margin: 0 !important;
  }
  *{
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Vazir';
  }
    ::-webkit-scrollbar{
      width: 12px;
      background-color: #272c49;
    }
    ::-webkit-scrollbar-track{
      -webkit-box-shadow: inset 0 0 6px #272c49;
      border-radius: 10px;
      background-color: #272c49;
    }
    ::-webkit-scrollbar-thumb{
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px #272c49;
      background-color: #272c49;
    }
  body{
    overflow-x: hidden !important;
    background-repeat: no-repeat;
    background-size: cover;
    direction: ltr !important;
  }
  .container-fluid-jovani{
    width: 100%;
    padding-right: 4% !important;
    padding-left: 4% !important;
    margin-right: auto;
    margin-left: auto;
  }
  a{
    text-decoration: none !important;
  }