/* header style */
.jovani{
    background: #E3DDD0;
}
.logo-desktop{
    width: 30%;
}
.heading-slider{
  color: #75634D;
}
.link-slider-btn {
  background-color: #C6AF83;
  border: 1px solid #52452C;
  color: #52452C;
  width: 16%;
  text-align: center;
  padding: 1%;
  border-radius: 10px;
}
h2.f48-700.heading-slider {
  width: 375px !important;
}
.show-video{
  background: url('./img/shwoVideo.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
}
.col-md-4.col-sm-12.photo-slider {
  padding-right: 7%;
}
  /* responsive */
  @media only screen and (max-width:600px){
    .logo {
      width: 15% !important;
    }
    .d-flex.mobile-header {
        width: 100%;
        justify-content: space-between;
        display: block;
    }
    a.navbar-brand.logo-desktop {
      display: none !important;
  }

    .d-flex.mobile-header {
        width: 100% !important;
        justify-content: space-between;
    }
    .logo {
      width: 50% !important;
    }
    .logo img{
      width: 100%;
    }
    .search{
      padding: 5px;
    }
    section.slider.d-flex.w-100 {
      flex-wrap: wrap !important;
  }
  .text-slider{
    width: 100%;
    order: 6!important;
  }
  .photo-slider{
    width: 100%;
    order: -1!important;
  } 
  .d-flex.w-100.show-photo-slider {
    width: 34% !important;
}
.link-slider-btn {
  width: 41%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
h2.f48-700.heading-slider {
  width: 362px !important;
}
section.slider.d-flex.w-100 {
  gap: 32px;
}
.col-md-8.col-sm-12.text-slider.d-flex.flex-column.g16.justify-content-center {
  gap: 35px;
}
  }
  @media only screen and (min-width:1024px){
    .d-flex.mobile-header {
        display: none !important;
    }
  }
  @media only screen and (min-width:768px) and (max-width: 1024px){
    a.navbar-brand.logo-desktop {
      display: none !important;
  }
  .d-flex.mobile-header {
    width: 100% !important;
    justify-content: space-between;
  }
  .search.d-flex.justify-content-center {
    padding: 17px 0;
  }
  }
  @media only screen and (min-width:810px) and (max-width: 1180px){
    a.navbar-brand.logo-desktop {
      display: none !important;
  }
  .d-flex.mobile-header {
    width: 100% !important;
    justify-content: space-between;
  }
  .search.d-flex.justify-content-center {
    padding: 17px 0;
  }
  }